.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .title {
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
  }

  /* 滚动条整体 */
  .list::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  /* 滚动条滑块 */
  .list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* 滚动条轨道 */
  .list::-webkit-scrollbar-track {
    background: transparent;
  }

  a {
    padding: 10px;
    border-radius: 10px;

    &:hover {
      background-color: #2c2937;
    }
  }
  .chatItem {
    display: flex;
    align-items: center;
    .deleteButton {
      width: 10px;
      height: 10px;
    }
    .deleteButton:hover {
      color: red;
    }
  }
  .upgrade {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    img {
      width: 24px;
      height: 24px;
    }

    .texts {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 600;
        }

        &:last-child {
          color: #888;
        }
      }
    }
  }
}
